*{
            margin: 0;
            padding: 0;
        }

        .left{
            position: fixed;
            display: flex;
            background-color: #545c64;
            height: 100%;
            width: 180px;
            justify-content: center;
            color: burlywood;
        ;
        }
        .left-all{
            position: relative;
            /*top: 50px;*/
            width: 100%;
            text-align: center;
            /*display: flex;*/
            top: 72px;
        }

        .left-one dt{
            padding: 20px 0;
        }

        .left-one dt:hover{
            background-color: #434a50;

        }

        .left-one dl dd{
            position: relative;
            padding: 10px 0;

        }

        .left-one dl  dd:hover{
            background-color: #434a50;
        }
        .active{
            display: none;
        }
        .left-one{
            /*padding: 15px 0;*/
        }
        .left-one:hover{
            cursor: pointer;
            /*background-color: #434a50;*/
        }




        .right{

            height: 100%;
            margin-left: 200px;
            overflow: hidden;
            /*border: 5px solid blue;*/
            margin-right: 20px;
        }
                .right-head{
                    height: 50px;
                    /*background-color: #545c64;*/

                }
                            .right-head-1{

                                height: 50px;
                                background-color: #545c64;
                                color: white;
                            }
                                     .right-head-1-left{

                                            display: flex;
                                            height: 50px;
                                            float: left;

                                    }
                                              .right-head-1-left  .openLeft{

                                                  font-size: 30px;
                                                  margin: auto;
                                                  margin-left: 10px;

                                              }

                                     .right-head-1-right{
                                        display: flex;
                                        height: 50px;
                                        width: 150px;
                                        float: right;
                                         margin-right: 10px;

                                    }
                                                .userImage{
                                                    background-image: url("/static/files/image/banner1.jpg");
                                                    /*background-repeat: repeat;*/
                                                    width: 40px;
                                                    height: 40px;
                                                    background-size: 40px 40px;
                                                    border-radius: 50%;
                                                    margin: auto;
                                                            }
                                                .userName{
                                                    margin: auto;
                                                }
                                                .userSetting {
                                                    /*background-color: red;*/
                                                    font-size: 30px;
                                                    margin: auto;
                                                }

                .projectListName{
                    position: relative;
                    margin-top: 15px;
                    width: 100%;
                    height: 50px;
                    overflow: hidden;
                }
                .projectListName p{
                    position: absolute;
                    bottom: 5px;
                }
                .rightListSearch {

                    display: flex;
                    background-color: #e5e5e5;
                    height: 80px;

                }

                        .inp{
                            display: flex;
                            margin: auto 15px;
                            background-color: #ffffff;
                            height: 40px;
                            width: 211px;
                            border: 2px solid #dcdfe6;
                            border-radius: 6px;
                        }
                            .el-input{
                                display: inline-block;
                            }
                                .el-input input{
                                    height: 40px;
                                    width: 150px;
                                    padding: 0 15px;
                                    display: inline-block;
                                    border: 0;
                                    outline: none;

                                }

                                .el-input .icon{
                                    width: 10px;
                                    height: 10px;
                                }


                               .inp-button{
                                   margin: auto 0;

                               }
                               .inp-button input:hover{
                                    background-color: #444f64;
                                    cursor:pointer;
                                }

                                .inp-button input{
                                    font-size: 16px;
                                    height: 40px;
                                    width: 60px;
                                    border: 0;
                                    border-radius: 5px;
                                    background-color: #545c64;
                                    color: white;
                                    /*letter-spacing: 10px; !*中文字符间的间距*!*/
                                    outline: none;
                                }




                        .project-add{
                            position: fixed;
                            left: 0;
                            right: 0;
                            bottom:0;
                            top:0;
                            width: 100%;
                            height: 100%;
                            background-color: #4b535a;
                            opacity: 0.7;
                            z-index: 10;

                        }

                        .project-add-1{
                            position: fixed;
                            top:35%;
                            left: -150px;
                            margin-left: 50%;

                            width: 300px;
                            /*height: 200px;*/
                            background-color: #ffffff;

                            border: 2px solid #dcdfe6;
                            border-radius: 5px;
                            z-index: 11;


                        }

                        .project-add-1-1{
                            justify-content: center;
                           display: flex;
                            /*width: 300px;*/
                            /*height: 200px;*/
                        }

                        .project-add-1-1 .fm-project-add{
                            /*line-height: 20%;*/
                            margin: 20px 0;

                        }

                        .project-add-1-2 .fm-project-add p{
                            margin: 30px 0;

                        }
                         .project-add-1-2 .fm-project-add p input{
                             height: 25px;
                             border-radius: 4px;
                         }


                         .project-add-1-2 {
                             margin: auto;

                         }

                        .project-add-1-bottom{
                            margin: 30px 0;
                            display: flex;
                            justify-content: space-around;


                        }





            .rightList{
                position: relative;
                background-color: #ffffff;      /*#e5e5e5*/
                width: 100%;
                height: 100%;
                margin-top: 50px;

            }

            .rightList-table{
                /*position: absolute;*/
                width: 100%;
                height: 50px;

                /*height: 30px;*/


            }

            .rightList-table thead tr{
                height: 50px;
            }
            .rightList-table tbody tr{
                height: 80px;
                max-width: 100px;
            }

             .rightList-table tbody tr td{
                max-width: 100px;
                 height: 100%;
                 padding: 25px 0;
            }




            .rightList-table thead tr,.rightList-table tbody tr{
                width: 100%;
                text-align: center;
            }
            .rightList-table tbody:hover{
                background-color: #e5e5e5;      /*#e5e5e5*/

            }

             .rightList-table tbody tr td:nth-child(2):hover{
                 cursor:pointer;
             }










            /*}*/
            /*.rightList-table thead{*/
                /*position: absolute;*/
                /*width: 100%;*/
                /*top: 20px;;*/
            /*}*/

            /*.rightList-table thead tr{*/
                /*display: flex;*/
                /*justify-content: space-around;*/
            /*}*/
            /*.rightList-table thead tr th{*/
                /*width: 100%;*/
                /*text-align: center;*/
            /*}*/


            /*.rightList-table tbody{*/
                /*position: absolute;*/
                /*width: 100%;*/
               /**/
            /*}*/

            /*.rightList-table tbody tr{*/
                /*display: flex;*/
                /*justify-content: space-around;*/

            /*}*/

            /*.rightList-table tbody tr td{*/
                /*width: 100%;*/
                /*text-align: center;*/
            /*}*/