<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>接口测试平台</title>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/login-js.js' %}"></script>
    <link  href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/ALicon/iconfont.css' %}" type="text/css">
    <script src="{% static 'plugins/ALicon/iconfont.js' %}"></script>

    <style>
        .left{
            position: fixed;
            display: flex;
            background-color: #545c64;
            height: 100%;
            width: 180px;
            justify-content: center;
            color: burlywood;
        }
    </style>

</head>

<body>
    <div  class="left">
        <div class="left-all">
            <div class="left-one">
                <dl>
                    <dt>

                        <span class="icon iconfont icon-menu-fill"></span>
                        接口文档
                    </dt>
                </dl>
            </div>
            <div class="left-one">
                <dl>
                    <dt>变量管理<dt>
                    <dd>环境变量</dd>
                    <dd>全局变量</dd>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt>SQL 管理</dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt>用例管理</dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt>环境管理</dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt>定时任务</dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt>权限管理</dt>
                </dl>

            </div>
        </div>

    </div>


</body>



<script>

</script>


</html>