<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>接口测试平台</title>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <link  href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/ALicon/iconfont.css' %}" type="text/css">
    <script src="{% static 'plugins/ALicon/iconfont.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-css.css' %}">
</head>

<body>
<div class="all">
    <div  class="left">
        <div class="left-all">
            <div class="left-one">
                <dl>
                    <dt> 项目列表 <span></span></dt>
                    <dd>项目列表</dd>

                </dl>
            </div>

            <div class="left-one">
                <dl>
                    <dt> 接口文档 <span></span></dt>
                </dl>
            </div>
            <div class="left-one">
                <dl>
                    <dt> 变量管理 <span></span></dt>
                    <dd>环境变量</dd>
                    <dd>全局变量</dd>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt> SQL管理 <span></span></dt>
                    <dd>环境变量</dd>
                    <dd>全局变量</dd>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt> 用例管理 <span></span></dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt> 环境管理 <span></span></dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt> 定时任务 <span></span></dt>
                </dl>

            </div>
            <div class="left-one">
                <dl>
                    <dt> 权限管理 <span></span></dt>
                </dl>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="right-head">
            <div class="right-head-1">
                <div class="right-head-1-left">
                    <span class="openLeft icon iconfont icon-icon-test5" value="1"></span>
                </div>
                <div class="right-head-1-right">
                    <div class="icon iconfont icon-icon-test1 userSetting">

                    </div>

                    <div class="userName"></div>
                    <div class="userImage"></div>
                    <div class="userSetting-div" >
                        <span>修改密码</span>
                        <span>修改头像</span>
                        <span class="back-login">退出登录</span>
                    </div>
                </div>




            </div>
        </div>
        {% block varible %}
        <div class="projectListName">
            <p>项目列表</p>
        </div>
        {% endblock %}
        {% block viewPro %}
        <div class="rightListSearch">
            <div class="inp">
                <form class="fm" action="#" method="GET">
                    <div class="el-input">
                        <input type="text" placeholder="请输入名称" name="proName">
                        <span class="active icon iconfont icon-cross "></span>
                    </div>


                </form>
            </div>
            <div class="inp-button">
                        <input  type="button" value="搜索">
                        <input type="button" value="新增" onclick="addprojectSelectVarible()">
            </div>

            <div class="GlobleVariable">

                <input  type="button" value="查看环境">
                <input type="button" value="新增环境">

            </div>

            <div class="project-add active" value="0">
            </div>
            <div class="project-add-1 active">
                <div class="project-add-1-1">
                </div>
                <div class="project-add-1-2">
                    <div class="project-add-1-2">
                        <form class="fm-project-add">
                                <p>项目名称：<input type="text" placeholder="必填" name="proname"></p>
                                <p>项目版本：<input type="text" placeholder="必填" name="proversion"></p>
                                <p>测试环境：
                                    <select class="addProjectSelect" name="provarible">




                                    </select>
                                </p>

                        </form>
                        <div class="project-add-1-bottom">
                            <span class="project-add-1-false click-bottom">取消</span>
                            <span class="project-add-1-true click-bottom">确定</span>
                            <span class="project-add-1-true-edit click-bottom active">确定</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="project-add-11 active">
                <div class="project-add-1-1">
                </div>
                 <div class="project-add-1-2">
                    <div class="project-add-1-2">
                        <form class="fm-project-add">
                                <p>环境名称：<input type="text" placeholder="必填" name="proName"></p>
                                <p> key&#12288 &#12288：<input type="text" placeholder="必填 例如：url(英文别名)" name="prokey"></p>
                                <p>环境地址：<input type="text" placeholder="必填 例：http://192.160.0.1:8080/" name="proattr"></p>

                        </form>
                        <div class="project-add-1-bottom">
                            <span class="project-add-1-false click-bottom">取消</span>
                            <span class="project-add-1-true click-bottom">确定</span>
{#                            <span class="project-add-1-false-edit click-bottom active">取消</span>#}

                        </div>
                    </div>

                </div>
            </div>

        </div>
        {% endblock %}
        {% block  lsdvarible %}
        <div class="rightList">
            <table class="rightList-table"  cellspacing="0"  cellpadding="0"  >
                <thead>
                    <tr>
                        <th>项目编号</th>
                        <th>项目名称</th>
                        <th>项目版本</th>
                        <th>测试环境</th>
                        <th>执行人员</th>
                        <th>更新时间</th>
                        <th>操作</th>

                    </tr>
                </thead>



            </table>
        </div>
        {% endblock %}
    </div>
</div>


</body >
<script src="{% static 'js/login-js.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/main-js.js' %}"></script>
<script>
    $(function () {
        acceptInp(".el-input input");
        removeInp(".el-input .icon",".el-input input");
        userName();


    });
{#        userSetting(".right-head-1-right",".userSetting-div")#}
{#$(".userSetting-div").children().eq(3).click(function () {#}
{#        console.log(2222222)#}
{#    });#}
$(".back-login").click(function () {

    $.ajax({
        "url":"{% url 'backLogin' %}",
        "type":"POST",
        "dataType":"json",
        success:function (arg) {

            if (arg.status=="200"){

                window.location.href='{% url "login" %}'}
        }

    })
});

//点击新增弹出蒙层
$('.inp-button').children().eq(1).click(function () {
         towPage()
        $(".project-add-1-true").removeClass("active");
        $(".project-add-1-true-edit").addClass("active")
});



//新增环境
$(".project-add-11 .project-add-1-bottom").children().eq(1).click(function () {
    $.ajax({
        "url":"{% url 'addLsdvarible' %}",
        "type":"POST",
        "dataType":"JSON",
        "data":$(".project-add-11 .fm-project-add").serialize(),
        success:function (arg) {
            backPop(".project-add-11");
            toast(arg.msg);
{#            cleanToast();#}


        }

    })
});

    //查看环境
    $('.GlobleVariable').children().eq(0).click(function () {
{#        $.ajax({#}
{#            "url":'{% url "lsdvarible" %}',#}
{#            "type":"GET",#}
{#            "dataType":"JSON",#}
{#            success:function (arg) {#}
{#               if  (arg.status==200){#}
                    window.location.href='{% url "lsdvarible" %}';
{#                   window.open("lsdvarible.html")#}
{##}
{#                }#}
{#            }#}
{##}
{#        })#}
    });
//新增项目 获取所有环境名称


  function addprojectSelectVarible() {
        $.ajax({
            "url":"{% url 'lsdvarible' %}",
            "type":"POST",
            "dataType":"JSON",
             "async" : false,
            success:function (arg) {
                var  data=arg.list;
                var selectOptionCode=$('.addProjectSelect');
                selectOptionCode.append(' <option value="0" selected="selected">请选择测试环境</option>');
                for  (i=0;i<data.length;i++){
                    selectOptionCode.append("<option class='option'></option>").children().eq(i+1).html(data[i].vbname).val(data[i].id)
                }


            }
        });

    }





    //点击编辑弹出蒙层--编辑
    $(".rightList-table").on("click", ".editProject", function () {
        $(".project-add-1-false").addClass("active");
        $(".project-add-1-true").addClass("active");
        $(".project-add-1-false").removeClass("active");
        $(".project-add-1-true-edit").removeClass("active");
        towPage();
        addprojectSelectVarible();

        console.log(selectEle);
        var proCode = $(this).parent().siblings().eq(0).text();
        var proName = $(this).parent().siblings().eq(1).text();
        var proversion = $(this).parent().siblings().eq(2).text();
        var vbName = $(this).parent().siblings().eq(4).text();
        var vbId = $(this).parent().siblings().eq(3).text();
        $(".fm-project-add").children("p").eq(0).children("input").val(proName);
        $(".fm-project-add").children("p").eq(1).children("input").val(proversion);
        {#        var selectEle=".addProjectSelect option"#}
        {#        var a=$(".editProject").parents(".rightList").siblings(".rightListSearch").find(".option");#}
        {#        console.log(a)#}
        {#        $(".editProject").eq(0).on("click",".option",function () {#}
        {#            console.log($(this));#}
        {#            var selectEle=$(this).parents(".rightList").siblings(".rightListSearch").find(".option");#}
        {#        var selectEle=$(".addProjectSelect").eq(0).children("option");#}
        {#        var selectEle=document.querySelector('.addProjectSelect').children;#}
        {#        console.log(selectEle);#}
        var selectEle = $(".addProjectSelect").eq(0).children("option");
        console.log(selectEle);

        for (i = 0; i < selectEle.length; i++) {
            console.log(111111);
            console.log(selectEle[i].value);
            if (selectEle[i].value === vbId) {
                console.log("if");
                selectEle[i].setAttribute("selected", "selected");
                {#                selectEle[i].sibl.getAttribute("selected",null)#}
            } else {
                selectEle[i].removeAttribute("selected")
            }
        }
        $(".project-add-1 .project-add-1-true-edit").click(function () {
                console.log($('.project-add-1 .fm-project-add').serialize() + "&proCode=" + proCode + "&proversion=" + proversion);
                $.ajax({
                    "url": "{% url 'editProject' %}",
                    "type": "POST",
                    "dataType": "json",
                    "data": $('.project-add-1 .fm-project-add').serialize() + "&proCode=" + proCode + "&proversion=" + proversion,
                    success: function (arg) {
                        if (arg.status == 200) {

                            backPop(".project-add-1");
                            toast(arg.msg);

                            {#                    window.location.href="{% url 'home' %}";#}
                            setTimeout(200);
{#                            cleanToast();#}
                            window.location.href = "{% url 'home' %}"
                        } else {
                            toast(arg.msg);

                        }
                    }
                })

            }
        );
    });



    //删除
    $(".rightList-table").on("click",".cleanProject",function () {
        var proCode = $(this).parent().siblings().eq(0).text();
{#        $(this).parents("tbody").remove()#}
        data={};
        data.proCode=proCode;
        var ele=$(this);
        $.ajax( {
                "url":"{% url 'clearProject' %}",
                "type":"POST",
                "dataType":"JSON",
                "data":data,
                success:function (arg) {
                    if (arg.status==200){
                        ele.parents("tbody").remove();
                        toast(arg.msg);

                    }
                }



        })
    });



function addCreateEleFirst(data,i) {
     var tableEle=$(".rightList-table");
                    tableEle.prepend("<tbody></tbody>").children("tbody").eq(i).empty().append("<tr></tr>");
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(0).html(data[i].procode);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(1).html(data[i].proname);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(2).html(data[i].proversion);
                    tableEle.children("tbody").eq(i).children("tr").append("<td class='active'>111</td>").children().eq(3).html(data[i].provaronemany_id);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(4).html(data[i].provaronemany_id__vbname);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(5).html(data[i].provarmaymany__phone);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(6).html(data[i].updatetime);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(7).html("<span class='editProject'>编辑</span> | <span class='cleanProject'>删除</span> |  <span class='runProject'>执行</span> |  <span class='lookResult'>结果</span>");
}



function createEle(data,i) {
     var tableEle=$(".rightList-table");
                    tableEle.append("<tbody></tbody>").children("tbody").eq(i).empty().append("<tr></tr>");
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(0).html(data[i].procode);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(1).html(data[i].proname);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(2).html(data[i].proversion);
                    tableEle.children("tbody").eq(i).children("tr").append("<td class='active'>111</td>").children().eq(3).html(data[i].provaronemany_id
);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(4).html(data[i].provaronemany_id__vbname);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(5).html(data[i].provarmaymany__phone);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(6).html(data[i].updatetime);
                    tableEle.children("tbody").eq(i).children("tr").append("<td></td>").children().eq(7).html("<span class='editProject'>编辑</span> | <span class='cleanProject'>删除</span> |  <span class='runProject'>执行</span> |  <span class='lookResult'>结果</span>");
}


    //查看环境


    {% block lookproject %}


    $(".project-add-1 .project-add-1-true").click(function () {
        var selectOptionCode=$('.project-add-1 .fm-project-add');
            addEditUpdateCleanProject(selectOptionCode)
    });

//新增
    function addEditUpdateCleanProject(ele) {
             $.ajax({
            "url":"{% url 'addProject' %}",
            "type":"POST",
            "dataType":"JSON",

            "data":ele.serialize(),
            success:function (arg) {

                if (arg.status==200){
                    backPop(".project-add-1");


{#                    window.location.href="{% url 'home' %}";#}
                    setTimeout(200);
                    toast(arg.msg);

                    addCreateEleFirst(arg.list,0);

{#                    cleanToast();#}
                }else {
                     toast(arg.msg);
{#                    cleanToast();#}
                }
            }
        })}






lookproject();
function lookproject() {
    $.ajax({
        "url":"{% url 'lookproject' %}",
        "type":"POST",
        "dataType":"JSON",
        success:function (arg) {
            if (arg.status==200){
                data=arg.list;
                for (i=0;i<data.length;i++){
                   createEle(data,i);

                }

            }else {
                toast("加载异常……");
            }
        }
    })
}


$(".rightListSearch .inp-button").children().eq(0).click(function () {
    $.ajax({
        "url":"{% url 'findProject' %}",
        "type":"POST",
        "dataType":"JSON",
        "data":$(".fm").serialize(),
        success:function (arg) {
            data = arg.list;
            if (data.length == 0) {
                var tableEle = $(".rightList-table");
                tableEle.children("tbody").empty()

            } else{
                    var tableEle = $(".rightList-table");
                    tableEle.children("tbody").empty();
                for (i = 0; i < data.length; i++) {
                        createEle(data, i);

                }
        }
        }
    })

});

        $(".el-input").children("span").eq(0).click(function () {
            $.ajax({
        "url":"{% url 'findProject' %}",
        "type":"POST",
        "dataType":"JSON",
        "data":"",
        success:function (arg) {
            data = arg.list;
            if (data.length == 0) {
                var tableEle = $(".rightList-table");
                tableEle.children("tbody").empty()

            } else{
                    var tableEle = $(".rightList-table");
                    tableEle.children("tbody").empty();
                for (i = 0; i < data.length; i++) {

                        createEle(data, i);
                }
        }
        }
    })
        });

    {% endblock %}



$(".left-all").children().eq(0).children().eq(0).children("dd").eq(0).click(function () {
   window.location.href="{% url 'home' %}"
}
);





</script>

{% block script %}
    <script>
            $(".left-one").eq(0).children().eq(0).children("dd").eq(0).css("background-color", "#434a50");
            $(".left-one").eq(0).siblings().css("background-color","#545c64");
            openEle(0);

    </script>

{% endblock %}


</html>