{% extends "home.html" %}
{% load staticfiles %}

{% block varible %}
        <div class="projectListName">
            <p>环境列表</p>
        </div>
        {% endblock %}

        {% block viewPro %}
        <div class="rightListSearch">
            <div class="inp">
                <form class="fm" action="#" method="GET">
                    <div class="el-input">
                        <input type="text" placeholder="请输入环境名称" >
                        <span class="active icon iconfont icon-cross "></span>
                    </div>


                </form>
            </div>
            <div class="inp-button">
                        <input  type="button" value="搜索">
                        <input type="button" value="新增">
            </div>

            <div class="project-add active" value="0">
            </div>

            <div class="project-add-1 active">
                <div class="project-add-1-1">
                </div>
                 <div class="project-add-1-2">
                    <div class="project-add-1-2">
                        <form class="fm-project-add">
                                <p>环境名称：<input type="text" placeholder="必填" name="proName"></p>
                                <p> key&#12288 &#12288：<input type="text" placeholder="必填 例如：url(英文别名)" name="prokey"></p>
                                <p>环境地址：<input type="text" placeholder="必填 例：http://192.160.0.1:8080/" name="proattr"></p>

                        </form>
                        <div class="project-add-1-bottom">
                            <span class="project-add-1-false click-bottom">取消</span>
                            <span class="project-add-1-true click-bottom">确定</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        {% endblock %}




{% block  lsdvarible %}
<div class="rightList">
            <table class="rightList-table"  cellspacing="0"  cellpadding="0"  >
                <thead>
                    <tr>
                        <th>环境名称</th>
                        <th>环境变量</th>
                        <th>环境地址</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>最后一次更新时间</th>
                        <th>操作</th>

                    </tr>
                </thead>
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>1008611</td>#}
{#                        <td>立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>1008611</td>#}
{#                        <td>立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>{{ data.list }}</td>#}
{#                        <td>立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>1008611</td>#}
{#                        <td>立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>1008611</td>#}
{#                        <td>立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>1008611</td>#}
{#                        <td>立时代</td>#}
{#                        <td>192.168.0.1</td>#}
{#                        <td>8090</td>#}
{#                        <td>test</td>#}
{#                        <td>2019-07-01 23:30:59</td>#}
{#                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>#}
{#                    </tr>#}
{#                </tbody>#}


            </table>
        </div>
{% endblock %}

{% block script %}
<script>


//搜索环境

    $(".inp-button").children().eq(0).click(function () {
        $.ajax({
            "url":"{% url 'findVarible' %}",
            "type":"POST",
            "dataType":"json",
            "data":$(".el-input input").serialize(),
            success:function (arg) {
                console.log(arg)
            }

        })
    });

    $(".project-add-1 .project-add-1-bottom").children().eq(1).click(function () {
        $.ajax({
            "url":"{% url 'addLsdvarible' %}",
            "type":"POST",
            "dataType":"JSON",
            "data":$(".project-add-1 .fm-project-add").serialize(),
            success:function (arg) {
                backPop(".project-add-1");
                toast(arg.msg);
                console.log(arg)

            }

        })
    });


{##}
{#     var data=window.location.search;#}
{#     var  data=data.split("?data=")[1];#}
{#     var data=decodeURI(data);#}
{#     var data=eval(data);#}
{##}
{#    for (i=0;i<data.length;i++){#}
{#        var tableEle=$(".rightList-table")#}
{#        tableEle.append("<tbody></tbody>");#}
{#        var  trEle=tableEle.children("tbody").eq(i).append("<tr></tr>");#}
{#        var dic=data[i];#}
{##}
{#        trEle.children("tr").eq(0).append("<td>11111</td>").children("td").eq(0).html(dic.vbname);#}
{#        trEle.children("tr").eq(0).append("<td>22</td>").children("td").eq(1).html(dic.vbkey);#}
{#        trEle.children("tr").eq(0).append("<td>33</td>").children("td").eq(2).html(dic.vbaddr);#}
{#        trEle.children("tr").eq(0).append("<td>44</td>").children("td").eq(3).html(dic.vbpop)#}
{#        trEle.children("tr").eq(0).append("<td>55</td>").children("td").eq(4).html(dic.createtime);#}
{#        trEle.children("tr").eq(0).append("<td>77</td>").children("td").eq(5).html(dic.updatetime);#}
{##}
{#        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(6).append("<span>编辑</span> | <span>删除</span> |  <span>执行</span>")#}

        $(function () {
        $.ajax({
            "url":'{% url "lsdvarible" %}',
            "type":"POST",
            "dataType":"JSON",
            success:function (arg) {
               if  (arg.status==200){

                   console.log(arg.list);
                    console.log(arg.list);

                    var data=arg["list"];
                    for (i=0;i<data.length;i++){

                        var tableEle=$(".rightList-table");
                        tableEle.append("<tbody></tbody>");
                        var  trEle=tableEle.children("tbody").eq(i).empty().append("<tr></tr>");
                        var dic=data[i];

                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(0).html(dic.vbname);
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(1).html(dic.vbkey);
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(2).html(dic.vbaddr);
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(3).html(dic.vbpop)
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(4).html(dic.createtime);
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(5).html(dic.updatetime);
                        trEle.children("tr").eq(0).append("<td></td>").children("td").eq(6).append("<span>编辑</span> | <span>删除</span>")

                }
            }

        }

        })});

    $(".left-one").eq(5).css("background-color", "#434a50")
    $(".left-one").eq(5).siblings().css("background-color","#545c64")

{% block lookproject %}
    {% endblock %}

</script>








{% endblock %}

{##}
{##}
{#    var data=window.location.search#}
{#     var  data=data.split("?data=")[1]#}
{#     console.log(decodeURI(data))#}
{#     var data=decodeURI(data)#}
{#    console.log(data)#}
{#    for (i=0;i<data.length;i++){#}
{#        var tbodyEle=$(".rightList-table").append("<tbody></tbody>").append("<tr></tr>");#}
{#        dic=data[i]#}
{#        for (ii=0;ii<dic.length;ii++){#}
{#            tbodyEle.append("<td>dic[vbname]</td>")#}
{#        }#}
{#    }#}
{##}
{#</script>#}



