{% extends "home.html" %}
{% load staticfiles %}
{% block  lsdvarible %}


<div class="rightList">
            <table class="rightList-table"  cellspacing="0"  cellpadding="0"  >
                <thead>
                    <tr>
                        <th>环境名称</th>
                        <th>环境变量</th>
                        <th>环境地址</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>最后一次更新时间</th>
                        <th>操作</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1008611</td>
                        <td>立时代</td>
                        <td>192.168.0.1</td>
                        <td>8090</td>
                        <td>test</td>
                        <td>2019-07-01 23:30:59</td>
                        <td><span>编辑</span> | <span>删除</span> |  <span>执行</span></td>
                    </tr>
                </tbody>

            </table>
        </div>
{% endblock %}